body {
	font-family: arial, sans-serif;

}

h1 {
	text-align: center;

}

.pixel-cube {
	background-color: #727272;
	height: 5px;
	width: 5px;
}

.head-words {
	color: #727272;
	font-size: 15px;
	vertical-align: middle;
	
}

.gb_g {
	padding-right: 15px;
	color: #727272;
	vertical-align: middle;

}
.gb_g:hover, li:hover {
	text-decoration: underline;
}
a, u {
	text-decoration: none;
}

#head-buttons {
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
}

.user-id:hover {
	box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.user-pic {
	display: inline-block;
	vertical-align: middle;
	padding-top: 10px;
	padding-left: 10px;
	
}

.user-id {
	border-radius: 50%;
}

.box-element {
	display: grid; 
       	grid-template-columns: 5px 5px 2px;
	grid-template-rows: 0px 0px 0px; 
	column-gap: 3px;
	row-gap: 8px;

}

.head-data {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 30px;
	margin: auto;
}


.logo-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 110px;
	margin: 0 auto;
	max-width: 484px;
	width: auto;
	

}

.logo {
	padding-bottom: 25px;

}

.bar {
	position: relative;
	    background: #fff;
	    display: flex;
	    border: 1px solid #dfe1e5;
	    box-shadow: none;
	    border: none;
}

.search-field {
     border-radius: 20px;
     border: 1px solid  #dfe1e5;
	vertical-align: middle;

     outline: none;
     height: 38px;
     padding-left: 40px;
     padding-right: 40px;
     width: 484px;
}

.search-field:hover {
	box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#magnifier {
	    position:absolute;
    bottom:10px;
    left:10px;
    width:20px;
    height:20px;
    opacity: 40%;

}

@media only screen and (min-width: 150px) and (max-width: 484px) {	
	.search-field
 			{
		width: 95%;
	margin: 0 auto;
}

}

.search-buttons {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.sL-buttons {
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	border-radius: 4px;
	color: #3c4043;
	font-family: arial, sans-serif;
	font-size: 14px; 
	margin: 11px 6px;
	padding: 0 16px;
	line-height: 27px;
	height: 36px;
	text-align: center;
}

.sL-buttons:hover {
	box-shadow: 0 1px 1px rgba(0,0,0, .1);
	background-color: #f8f9fa;
	border: 1px solid #dadce0;
	color: #202124;
	cursor: pointer;

}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}
li {
	float: left;
}

li a {
	display: block;
	text-align: center;
	padding-left: 27px;
	margin: 0 !important;
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #70757a;
}

.span {
	margin-right: 20px;
	padding-left: 0px;
}

.footer {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	background: #f2f2f2;
	line-height: 40px;
	border-top: 1px solid #dadce0;
	min-width: 400px;
}
